---
import { getCollection } from "astro:content";
import Hero from "@/components/Hero.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Section from "@/components/Section.astro";
import C2fetch from "@/components/C2fetch.astro";
import TicTacToe from "@/components/TicTacToe.astro";
import Aquamarinekernel from "@/components/Aquamarinekernel.astro";
import Todohcj from "@/components/Todohcj.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
const today = new Date();
import VillainImg from "@/villain.png";
import { KNOWN_TECH, ABOUT_ME } from "@/consts";
const projects = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Aman - Engineer, GFX designer and High school student">
  <Hero />
  <Section title="About Me" class="relative w-full">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center "
    >
      {/* Left column: Hero image */}
      <div class="w-full flex justify-center">
        <Image
          alt="Hero"
          src={VillainImg}
          class="brightness-200 invalid max-w-xs sm:max-w-sm md:max-w-md w-full h-auto object-contain invert"
        />
      </div>

      {/* Right column: Text content */}
      <div class="w-full flex flex-col justify-center text-lg sm:text-xl gap-4 max-w-screen-lg">
        <h3
          class="text-2xl sm:text-4xl opacity-95 mb-4 flex items-center gap-4"
        >
          Hi, I'm Aman <span class="text-xl text-[#CCCCCC]"
            >(A.K.A kagiyanagi/ren/aqua).</span
          >
        </h3>
        <p class="opacity-95">
          I'm a self-taught engineer and passionate tech guy from India,
          currently in high school. My interests span a wide range in Computer
          Science, including:
        </p>
        <p class="opacity-95">
          Web development, IoT, Machine learning, Linux(Arch btw). I'm a big fan
          of anime (MAL link in navbar) and music, which both inspire my
          creativity. Core Android development: I love building custom ROMs and
          kernels. I've archived everything on my
          <a
            class="text-teal-400 hover:text-teal-500 underline transition-all"
            href="https://t.me/rensakashvani">Telegram channel</a
          >
        </p>
        <p class="opacity-95">
          Right now I'm mostly focused on high school (you know how it is), but
          I'm still highly motivated and committed to continuous learning and
          growth in the tech world.
        </p>
      </div>
    </div>
  </Section>
  <Section title="Technologies I Know" full_screen={false}>
    <div class="w-full grid place-items-center mb-12">
      <div
        class="w-full gap-4 flex flex-wrap px-3 max-w-xl text-lg justify-center"
      >
        {KNOWN_TECH.map((x) => <Breadcrumb title={x} />)}
      </div>
    </div>
  </Section>
  <Section
    title="My projects"
    className={"bg-gradient-to-b from-black/70 from-[5%] to-black via-black max-w-screen-2xl mx-auto items-center mb-12"}
  >
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      <C2fetch />
      <Aquamarinekernel />
      <Todohcj />
      <TicTacToe />
    </div>
  </Section>
</Layout>
