---
import { GITHUB_REPO } from "@/consts";
const year = new Date().getFullYear();
---

<section
  id="footer"
  class="grid relative place-items-center text-center mt-4 bg-white/[0.001]"
>
  <div class="h-40 overflow-hidden absolute pointer-events-none">
    <div class="hero-bg" data-binary-bg aria-hidden="true"></div>
  </div>
  <a
    href={`https://github.com/${GITHUB_REPO}`}
    class="flex gap-1 place-items-center mx-auto max-w-72 sm:max-w-full text-center hover:underline"
  >
    Thanks for visiting! Make sure to give this a ✦ on GitHub.
  </a>
  <p class="mb-10 py-3 px-2 mx-auto max-w-72 sm:max-w-full text-center">
    Copyleft &copy; {year}. Developed by me, with the theme concept by
    <a class="hover:underline" href="https://github.com/ArnavK-09">@ArnavK-09</a
    >
  </p>
</section>
