---
import { Image } from "astro:assets";
import HeroImg from "@/hero.png";
import { SITE_TITLE } from "@/consts";
---

<div class="hero-bg hidden md:block h-screen hero-bg-animate absolute top-0">
</div>

<section
  class="h-screen w-full grid place-items-center mb-12 grid-cols-1 sm:grid-cols-2"
  id="hero"
>
  <div class="text-center -mb-40 sm:mb-0">
    <h1 class="font-bold text-5xl sm:text-8xl font-pixel">{`<${SITE_TITLE} />`}</h1>
    <h2 class="text-xl sm:text-4xl opacity-95 inline">
      Engineer, GFX designer
      <br />
      and a Student.
      <span class="blinking-cursor">_</span>
    </h2>
  </div>

  <div>
    <Image alt="Hero" src={HeroImg} class="brightness-200 scale-100 invert" />
  </div>
</section>

<script is:inline>
  // Your existing binary background animation
  const hero_bg = document.querySelector(".hero-bg-animate");
  setInterval(() => {
    let binaryText = "";
    for (let i = 0; i < 1000; i++) {
      binaryText += Math.floor(Math.random() * 2).toString();
    }
    hero_bg.textContent = binaryText;
  }, 300);
</script>

<style>
  .blinking-cursor {
    display: inline-block;
    color: white;
    font-weight: bold;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>
